<ion-header>
  <ion-toolbar>
    <ion-title>ADM STIF</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text><h1>Cpf do receptor :</h1></ion-text><br>
  <ion-input [(ngModel)] = "aviso.cpf_receptor"></ion-input>

  <ion-text><h1>Digite a mensagem :</h1></ion-text><br>
  <ion-textarea placeholder = "Digite a mensagem aqui" [(ngModel)] = "aviso.mensagem"></ion-textarea>

  <ion-button expand="block" color="warning" (click) = "enviarMensagem()">
    <ion-text color="dark"> Pronto </ion-text>
  </ion-button>






</ion-content>
