<ion-header>
  <ion-toolbar>
    <ion-title>ADM STIF</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
      <ion-list>
          <ion-radio-group (ionChange) = "tipoMensagem()">
            <ion-list-header>
              Tipo de Aviso
            </ion-list-header>

            <ion-item>
              <ion-label>Aviso</ion-label>
              <ion-radio value="Aviso" (click) = tipoMensagem(1) ></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Solicitação para Liberação</ion-label>
              <ion-radio value="Solicitacao" (click) = tipoMensagem(2)></ion-radio>
            </ion-item>
        </ion-radio-group>
        </ion-list>
    <ion-item>
      <ion-label position="floating">Numero do Receptor:</ion-label>
      <br>
      <ion-input type="text" placeholder="Digite aqui" [(ngModel)]="aviso.telefone"></ion-input>
    </ion-item>

    <br>

    <ion-item>
      <ion-label position="floating">Digite a mensagem desejada:</ion-label><br>
      <ion-textarea type="text" placeholder="Digite a mensagem aqui" [(ngModel)]="aviso.mensagem"></ion-textarea>
    </ion-item>

    <br>

    <ion-button expand="block" color="secondary" (click)="enviarMensagem()">
      <ion-text color="dark"> Enviar </ion-text>
    </ion-button>

    <ion-button expand="block" color="secondary" href="opcoes">
      <ion-text color="dark"> Voltar </ion-text>
    </ion-button>

  </div>
</ion-content>
