<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      ADM STIF
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <ion-item>
      <ion-label position="floating"> Email: </ion-label>
      <ion-input type="text" [(ngModel)] = "email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> Senha: </ion-label>
      <ion-input type="password" [(ngModel)] = "senha"></ion-input>
    </ion-item>

    <br />

    <ion-button expand="block" color="dark" (click) = "entrar()">
      <ion-text color="light"> Entrar </ion-text>
    </ion-button>

    <ion-button expand= "block" color="dark" href="redefinicao">
    <ion-text color="light">Esqueceu sua senha?</ion-text>
  </ion-button>

  </div>
</ion-content>
