<ion-header>
  <ion-toolbar>
    <ion-title>
      ADM STIF
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <ion-item>
      <ion-label position="floating"> Email: </ion-label>
      <ion-input type="text" [(ngModel)] = "email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> Senha: </ion-label>
      <ion-input type="password" [(ngModel)] = "senha"></ion-input>
    </ion-item>

    <br />

    <ion-button expand="block" color="primary" href = "cadastro">
      <ion-text color="dark"> Cadastre-se </ion-text>
    </ion-button>

    <ion-button expand="block" color="secondary" (click) = entrar()>
      <ion-text color="dark"> Entrar </ion-text>
    </ion-button>

    <ion-button expand="block" color="tertiary">
      <ion-text color="dark"> Esqueceu sua senha? </ion-text>
    </ion-button>

    <ion-button href="cadastro" expand="block" color="danger">
      <ion-text color="dark"> Próximo </ion-text><!--botão só para trocar de pagina -->
    </ion-button>


  </div>
</ion-content>
