<ion-header>
  <ion-toolbar>
    <ion-title>ADM STIF</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

  <ion-img src = "../../assets/icon/imagem_do_adm.png" alt = "Imagem de opções"></ion-img>
  <ion-button expand="block" color="danger" href = "cadastro">
    <ion-text color="dark"> Cadastrar novo Administrador </ion-text>
  </ion-button>

  <ion-button expand="block" color="secondary" href = "mensagem">
    <ion-text color="dark"> Enviar mensagem para aluno </ion-text>
  </ion-button>

  <ion-button expand="block" color="primary" href = "turmas">
    <ion-text color="dark"> Enviar mensagem para turma </ion-text>
  </ion-button>

  <ion-button expand="block" color="primary" href = "confirmadas">
    <ion-text color="dark"> Ver mensagens confirmadas  </ion-text>
  </ion-button>

</div>
</ion-content>
